.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.password-input {
  margin-bottom: 20px;
}

.password-input input {
  padding: 8px;
  margin-right: 10px;
}

.length-input {
  margin-bottom: 20px;
}

.length-input input {
  padding: 8px;
  width: 60px;
  margin-right: 10px;
}

.checkboxes {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.checkboxes input {
  margin-right: 5px;
}

.generate {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.generate:hover {
  background-color: #0056b3;
}
.password-input{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.copy{
  
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}